/* Color picker
#F2E8D0 Light
#E6AF23 Yellow
#498471 Blue-ish
#9D1C74 Purple-ish
#0D2F24 Black
*/


h2 {
	color: black;
	text-align: center;
	}
h3 {
	color: black;
	text-align: center;
	}

	/*
	#topnav {
border: 2px solid black;
background-color: gray;

background-image: linear-gradient(to left, grey, white);
width: 120px;
height: auto;
padding: 20px;
background-repeat: no-repeat;
}

	*/

p{
	font-size: 1em;

}
p.sansserif {
font-family: sans-serif, Arial, Helvetica ;
font-size: 1.25em;
}
p {
font-size: 30px; /* paragraph font size */

    }

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {

    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
	font-size: 30px;
	text-align: center;
	color: rgb(0,0,0);
    overflow: hidden;
    background-color: #498741; /* this is the bar's color */
/*	margin-left: 100px;
	margin-right: 100px;*/
}

/* Style the topnav links */
.topnav a {
    
    display: inline-block;
    color: #F2E8D0;/* the color when hovering over the words*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #F2E8D0;
    color: black;
}
.projectsBanner{
	font-size: 30px;
	background-color: #498471;
	text-align: center;
	overflow: hidden;
	padding: 14px 16px;
/*	margin-left: 100px;
	margin-right: 100px;*/
}

.marginOne{
	margin-left: 100px;
	margin-right: 100px;	
}
.blogBGColor {
	margin: 0 auto;
	color: rgb(0,0,0);
    overflow: hidden;
    background-color: #E6AF23; /* this is the bar's color */
    height: 230px;
    /*width: auto;*/
}

.centerBlogPic {
    display: block;
    margin-left: auto;
    margin-right: auto;*/
    margin-top: auto;
    margin-bottom: 50px;
    width: 306px;
    height: 230px;
}
.centerTallyPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 587;
	height: 450;

}

/* object with rounded corners */
#rcorners1 {
	display: inline-block;
    border-radius: 25px;
    background: #498471;
    padding: 20px; 
    width: 250px;
    height: 200px;  
    margin-left: 200px;  
}
#rcorners3 {
	display: inline-block;
    border-radius: 25px;
    background: #9D1C74;
    padding: 20px; 
    width: 250px;
    height: 200px; 
    margin-left:200px;   
    margin-right: 200px;
}
.cornersText {
	font-size: 30px;
}