/* Color picker
#F2E8D0 Light
#E6AF23 Yellow
#498471 Blue-ish
#9D1C74 Purple-ish
#0D2F24 Black
Quicksand
Raleway
rubik
Poppins
Questrial
Comfortaa

#FEEEDC light
#FDB768 peach
#FB8604 yellow
#975102 brown-ish
#342009 dark

#FEF1DC light pink
#	 orange
#9780FE blue
#9700FE slightly darker blue using for code formatting
#FCFC78 yellow
#FDFDB9 light orange-yellow
#979772 grey
*/


h2 {
	color: black;
	text-align: center;
	}
h3 {
	color: black;
	text-align: center;
	}

	/*
	#topnav {
border: 2px solid black;
background-color: gray;

background-image: linear-gradient(to left, grey, white);
width: 120px;
height: auto;
padding: 20px;
background-repeat: no-repeat;
}

	*/

p{
	font-size: 1em;

}/*
p.sansserif {
font-family: sans-serif, Arial, Helvetica ;
font-size: 1.25em;
}*/
}
p.Quicksand {
font-family: Quicksand, Arial, Helvetica ;
font-size: 1.25em;
}
p {
font-size: 30px; /* paragraph font size */

    }

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}
.QuicksandII {
	font-family: Quicksand, Arial, Helvetica
	font-size: 1.00em;
}

/* Style the header */
.header {
	font-family: Quicksand, Arial, Helvetica ;
    background-color: #975102;
    padding: 20px;
    text-align: center;
}

.underImage01 {
	overflow: hidden;
	display: block;
	opacity: 0.4;
	filter: blur(3px);
	/*position: relative;*/
	width: 2000px;
	height: 250px;
}
.overImage01 { 
	position:absolute; 
	top: 50px; 
	left: 500px; 
	z-index: 1; 
}

/* Style the top navigation bar */
.topnav {
	font-family: Quicksand, Arial, Helvetica ;
	font-size: 30px;
	text-align: center;
	color: #9780FE;
    overflow: hidden;
    background-color: #9780FE; /* this is the bar's color */
/*	margin-left: 100px;
	margin-right: 100px;*/
}

/* Style the topnav links */
.topnav a {
    font-size: 40px;
    display: inline-block;
    color: #FEF1DC;/* the color when hovering over the words*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #FEF1DC;
    color: black;
}
.projectsBanner{

	text-decoration: none;
	font-family: Quicksand, Arial, Helvetica ;
	font-size: 40px;
	background-color: #9780FE;
	text-align: center;
	overflow: hidden;
	padding: 14px 16px;
/*	margin-left: 100px;
	margin-right: 100px;*/
}
.projectsBanner:link {
    color: #9780FE;
}

/* visited link */
.projectsBanner:visited {
    color: #9780FE;
}

/* mouse over link */
/*.projectsBanner:hover {
    color: #9780FE;
}*/ /* this actually makes the word projects disappear in the separate projects page */

/* selected link */
.projectsBanner:active {
    color: #9780FE;
}
#TallyMarksPic {
	opacity: 1.0;
	filter: alpha(opacity=100);
	display: inline-block;
    border-radius: 50px;
    background: url(img/TallyMarks02.png);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 306px;
    height: 230px;
}
#TallyMarksPic:hover{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#MIDIToolSetPic {
	opacity: 1.0;
	filter: alpha(opacity=100);
	display: inline-block;
    border-radius: 50px;
    background: url(img/MIDIToolSet01.png);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 300px;
    height: 230px;
}
#MIDIToolSetPic:hover{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.blogBanner{
	font-family: Quicksand, Arial, Helvetica ;
	font-size: 40px;
	background-color: #9780FE;
	text-align: center;
	overflow: hidden;
	padding: 14px 16px;
/*	margin-left: 100px;
	margin-right: 100px;*/
}
.tutorialsBanner{
	font-family: Quicksand, Arial, Helvetica ;
	font-size: 40px;
	background-color: #9780FE;
	text-align: center;
	overflow: hidden;
	padding: 14px 16px;
/*	margin-left: 100px;
	margin-right: 100px;*/
}
.genericFontClass{
	font-family: Quicksand, Arial, Helvetica ;
}

.marginOne{
	font-family: Quicksand, Arial, Helvetica ;
	margin-left: 100px;
	margin-right: 100px;	
}
.blogBGColor {
	margin: 0 auto;
	color: rgb(0,0,0);
    overflow: hidden;
    background-color: #FDB768; /* this is the bar's color */
    height: 230px;
    /*width: auto;*/
}

.centerBlogPic {
	font-family: Quicksand, Arial, Helvetica ;
    display: block;
    margin-left: auto;
    margin-right: auto;*/
    margin-top: auto;
    margin-bottom: 50px;
    width: 306px;
    height: 230px;
}
.centerTallyPic {
	font-family: Quicksand, Arial, Helvetica ;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 587;
	height: 450;

}

/* object with rounded corners */
#rcorners1 {
	opacity: 0.6;
	filter: alpha(opacity=50);
	display: inline-block;
    border-radius: 25px;
    background: #9780FE;
    padding: 20px; 
    width: 250px;
    height: 200px;  
    margin-left: 230px;  
}
#rcorners1:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);

}
#rcorners3 {
	font-family: Quicksand, Arial, Helvetica ;
	display: inline-block;
    border-radius: 25px;
    background: #9780FE;
    padding: 20px; 
    width: 250px;
    height: 200px; 
    margin-left: 250px;   
    margin-right: 200px;
}
#helloPythonPic {
	opacity: 1.0;
	filter: alpha(opacity=100);
	display: inline-block;
    border-radius: 50px;
    background: url(img/StockSnap_HCEKP2VVVX_Hello02.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 300px;
    height: 230px;
}
#helloPythonPic:hover{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.cornersText {
	font-family: Quicksand, Arial, Helvetica ;
	font-size: 30px;
	color: #FEF1DC;
}

pre code {
  background-color: #FEF1DC;
  border-radius: 5px;
  text-align: left;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;

  font-size: 30px;
  color: #9700FE;
  border: 1px solid #999;
  display: block;
 
}

#social #container {
  text-align: center;
}

#social #container ul {
  float: left;
}

#social #container ul li {
  float: left;
  padding-left: 10px;
  list-style-type: none;
  width: 50%;
}
